
body{
    background-image: url(images/th.jpg);
    background-size: 1200px;
}
h1{
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    margin-top: 100px;
    padding: 20px;
}
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    background-color: red
    
    
    
    ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0 50px;
}
.library{
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.library:hover{
    color: yellow;
}
.ul{
   margin: 10px;
   padding: 10px;
   display: flex;
   list-style-type: none;
}
.ul li{
    margin: 1px;
    padding: 20px;
    background-color: blue;
}
.ul a{
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
}
.ul a:hover{
    color: yellow;
    transition: 1.5 ease;
}
.searchbar{
    margin-right: 0;
    display: flex;
    align-items: center;
}
.searchbar form{
    margin: 0;
    display: flex;
}
.searchbar input{
    padding: 5px;
    font-size: 16px;
    border: 1px solid purple;
}
.searchbar input:hover{
    border: 1px solid red;
}
.searchbar button{
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.searchbar button:hover{
    background-color: #ccc;
} 
p{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    padding: 20px;
    margin: 150px 0 0 800px;
}
img{
   width: 400px;
}
.darkMode{
    margin: 10px;
}
select{
    color: white;
    background: black;
    font-family: "Sofia", sans-serif;
    font-size: 16px;
}
option{
    font-family: "Sofia", sans-serif;
}

